version: '3.8'

services:
  # PostgreSQL Database Service
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    env_file:
      -.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" # Expose PostgreSQL port
    volumes:
      - postgres-data:/var/lib/postgresql/data # Persist data
    networks:
      - drkare_test_network

  # Spring Boot Application Service
  springboot-app:
    build:
      context: . # Use the current directory for Docker build context
      dockerfile: Dockerfile # Ensure this points to your Dockerfile
    container_name: springboot-app
    ports:
      - "8080:8080" # Expose Spring Boot app port
    env_file:
      -.env
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    depends_on:
      - postgres-db # Ensure PostgreSQL is up before starting Spring Boot
    networks:
      - drkare_test_network

networks:
  drkare_test_network:
    external: true

volumes:
  postgres-data:
    driver: local
